<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnectionString"
			 connectionString="Data Source=SQL5107.site4now.net;Initial Catalog=db_aa5374_trello;User Id=db_aa5374_trello_admin;Password=TQA75yGrU4x4r06"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <appSettings>
    <add key="AdminLogin" value="admin" />
    <add key="AdminPassword" value="admin" />
  </appSettings>
</configuration>