<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TrelloDBLayer.Properties.Settings.db_aa5374_trelloConnectionString"
            connectionString="Data Source=SQL5107.site4now.net;Initial Catalog=db_aa5374_trello;Persist Security Info=True;User ID=db_aa5374_trello_admin;Password=TQA75yGrU4x4r06"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>